body{
    background-image: url("images/home-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    padding-left: 10px;
    width: 100px;
    margin-top: 5px;
}
ul{
    list-style: none;
}
.nav-item>a{
    color:rgb(97, 133, 97);
    padding-top: 7px;
    padding-left: 10%;
}
.navbar-brand>img{
    height: 50px;
    width: 50px;
    margin-left: 40px;
   margin-top: 7px;
    
}
nav{
   
    height: 70px;
    padding-bottom: -10px;
}
.bg-light{
    background-color: rgb(128, 240, 206) !important;
}

#logo-head{
    margin-top: 100px;
    height: 40px;
    border-radius: 20px;

    
}

#search:focus{
    outline: none;
   
}
button{
    border: none;
}
img{
    height: 50px;
    width: auto;
    border-radius: 25px;
}
.rounded-circle{
    margin-left: 2%;
    margin-right: 2%;
}
.navbar-toggler{
    height:40px;
    width: 50px;
    margin-right: 0%;
}
p{
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(176, 241, 176);
}
.modal-header,.modal-body,.modal-footer{
    border: none;
}

